<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper

PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.comento.project.mappers">
 
	<insert id="create">
		insert into table_board (title, content, writer, password)
		values(#{title}, #{content}, #{writer}, #{password})
	</insert>
	
	<select id="read">
		select no, title, content, writer, password, regDate, hit
		from table_board
		where no = #{no}
	</select>
	
	<update id="update">
		update table_board set title = #{title}, content = #{content}
		where no = #{no}
	</update>
	
	<delete id="delete">
		delete from table_board where no = #{no}
	</delete>
	
	<select id="listAll" resultType="com.comento.project.vo.BoardVO">
	<![CDATA[
		select no, title, content, writer, password, regDate, hit
		from table_board
		where no > 0
		order by no desc, regDate desc
	]]>
	</select>
 </mapper>